*{
  font-family: verdana;
  margin: 0px;
  padding: 0px;
}

header{
  display: flex;
}
@media screen and (max-width: 600px){
  header {
    display: block;
  }
  #header-img{
    width: 100%;
  }
}
#header-img{
  width: 30%;
  margin-left: 20px;
}
.logo{
  width: 40%;
}
#nav-bar ul{
  display: flex;
  
}
#header{
  position: fixed;
  background: #444;
  padding: 5px;
  z-index: 10
}
#nav-bar{
  margin-left: 400px;
  padding: 15px;
}
#nav-bar li{
  list-style: none;  
}
.nav-link {
  color: #444;
  margin-left: 10px;
  font-size: 1.5em;
  background: #fff;
  border: 1px solid #444;
  padding: 10px;
  text-decoration: none;
}

.nav-link:hover{
  background-color: red;
  color: white;
}

h1 {
  text-align: center;
  font-family: verdana;
  font-size: 1.4em;
}
#features h3{
  margin: 50px  0px 50px 200px;
}
ul {
  list-style: none;
}
#video{
  margin-left: 220px;
}
.container{
  width: 1000px;
  background: #efefef;
  border-radius: 5px;
  margin: auto;
  position: absolute;
  top: 100px;
  left: 150px;
  margin-bottom: 200px;
}

.prices{
  margin-top: 50px;
  display: flex;
  margin-right: 10px;
/*   margin-left: 20px; */
}
#card{
  width: 100%;
  border: 1px solid #444;
  margin-left: 10px;
}
#card h3{
  color: #fff;
  text-align: center;
  
}
.product-title{
  background: #444;
  padding: 20px;
  margin-top: 10px;
}
#card p{
  margin: 10px;
}

h3#product-price{
  color: #000;
  margin: 0px;
}

button{
  background: red;
  padding: 10px;
  width: 100px;
  color: #fff;
  border: none;
  position: relative;
  top: 0px;
  left: 100px;
  margin-bottom: 20px;
}

button:hover{
  background: #cd6155;
  box-shadow: 1px 1px 0px #444;
}

button:active{
  box-shadow: 0px 0px 0px #444;
}