body {
  max-width: 350px;
  height: 100%;;
  margin: auto;
  border: 1px solid rgb(13, 17, 204);
  /* box-shadow: 2px 2px 15px #444; */
}
.App {
  text-align: center;
}
h1{
  font-size: 1.3em;
}
.Search input{
  height: 30px;
  width: 200px;
}

 .Search button{
  height: 34px;
  width: 70px;
  border: none;
  margin-left: 10px;
  background: rgb(148, 8, 8);
  color: #fff;
}
.Search button:hover{
  background: rgb(201, 7, 7);
  box-shadow: 0px 0px 5px rgb(255, 1, 1);
}
.Search button:active{
  background: rgb(109, 4, 4);
}
.App-header {
  background-color: #1357df;
  min-height: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.TopList{
  display: flex;
  flex-direction: row;
  border: 1px solid #444;
}
.TopList p {
  text-align: left;
  align-content: space-around;
}

.TopList ul {
  list-style: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
